/* Sidebar Row */

.sidebar-row {
  align-items: center;
  display: flex;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.sidebar-row:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebar-row:hover > .sidebar-row-icon {
  color: red;
}

.sidebar-row:hover > .sidebar-row-title {
  font-weight: 700;
}

.sidebar-row-icon {
  color: #606060;
  font-size: large !important;
  transition: color 0.3s ease;
}

.sidebar-row-title {
  flex: 1;
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.sidebar-row.selected {
  background-color: lightgray;
}

.sidebar-row.selected > .sidebar-row-icon {
  color: red;
}

.sidebar-row.selected > .sidebar-row-title {
  font-weight: 700;
}
