/* Search Page */

.search-page {
  background-color: #f9f9f9;
  flex: 0.8;
  padding: 20px;
}

.search-page-filter {
  align-items: center;
  color: #606060;
  display: flex;
  font-size: xx-small !important;
}

.search-page-filter > h2 {
  margin-left: 10px;
  text-transform: uppercase;
}

.search-page > hr {
  background-color: lightgray;
  border: 0;
  height: 1px;
  margin: 10px 0 10px 0;
}
